/* error.css */
.body-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust the height as needed */
}

.errorImg {
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Responsive styles */
@media (max-width: 768px) {
  .body-part {
    padding: 20px; /* Add padding for smaller screens */
  }
}
